.badge {
  min-width: 96px;
  padding: 4px 8px;

  color: var(--secondary-white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  text-align: center;

  border-radius: 20px;

  &.warning {
    background-color: var(--Text-warning, #a461d8);
  }
  &.error {
    background-color: var(--Text-danger, #fc5a5a);
  }
}
