@use "../utils/placeholders";
@use "../utils/mixins" as mx;
@use "../utils/functions" as fn;

@each $value in "danger", "warning", "sucess" {
  .badge-#{$value} {
    @extend %details-accent;

    min-width: 96px;
    padding: 4px 8px;

    text-align: center;
    color: fn.get-color("light");
    border-radius: 20px;
    background-color: fn.get-color($value);
  }
}
