@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/mixins" as mx;
@use "../utils/functions" as fn;

%btn {
  @extend %details.accent;
  @include mx.ease("fast", background-color, box-shadow);

  color: fn.get-color("light-primary");

  background-color: fn.get-color("accent-primary");
  border: none;
  cursor: pointer;

  &:hover {
    background-color: fn.get-color("accent-secondary");
    box-shadow: 0px 4px 10px 0px rgba(fn.get-color("accent-primary"), 0.25);
  }
}
