@forward 'welcome';
@forward 'co-workers';
@forward 'tasks';
@forward 'reports';

@forward 'btn/btn';
@forward 'menu';
@forward 'logo';
@forward 'menu-btn';
@forward 'notification';
@forward 'notification-btn';
@forward 'search';
