@use "../utils/placeholders";
@use "../utils/mixins" as mx;
@use "../utils/functions" as fn;

.logo {
  @extend %main-title;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  color: fn.get-color("accent-primary");

  @include mx.mq("lg") {
    padding: 16px 20px;
  }
}
