.menu-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  margin-right: auto;

  color: var(--Text-body, #fafafb);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;

  @media only screen and (min-width: 1200px) {
    display: none;
  }

  &-icon {
    fill: currentColor;
  }

  .sidebar & {
    position: absolute;
    top: 16px;
    right: -36px;

    opacity: 0;
    transform: rotate(180deg);
    transition: opacity 500ms ease-out 800ms, transform 300ms ease-out 600ms;
  }

  .sidebar.is-open & {
    opacity: 1;
    transform: rotate(0deg);
  }
}
