.menu-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  margin-right: auto;

  color: var(--Text-body, #fafafb);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;

  &-icon {
    fill: currentColor;
  }

  @media only screen and (min-width: 1440px) {
    display: none;
  }

  .menu & {
    position: absolute;
    top: 16px;
    left: 264px;
  }
}
