@use '../utils/placeholders';
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.notification-btn {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;

  color: fn.get-color('light-tertiary');

  animation: wobble-hor-top 800ms 1000ms both;

  &-icon {
    fill: fn.get-color('current');
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 8px;
    height: 8px;

    background-color: fn.get-color('accent-primary');
    border-radius: 50%;
  }

  &[data-notify='true']::after {
    background-color: fn.get-color('danger');
  }
}

@keyframes wobble-hor-top {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-7px) rotate(4deg);
  }
  30% {
    transform: translateX(5px) rotate(-4deg);
  }
  45% {
    transform: translateX(-5px) rotate(2.6deg);
  }
  60% {
    transform: translateX(3px) rotate(-1.4deg);
  }
  75% {
    transform: translateX(-2px) rotate(0.2deg);
  }
}
