@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.notification {
  flex-shrink: 0;

  display: block;
  min-width: 28px;
  height: 20px;
  padding: 0 10px;

  color: fn.get-color('light-primary');
  border-radius: 12px;
  background-color: fn.get-color('danger');

  opacity: 0;

  &.is-notify {
    opacity: 1;
  }
}
