@use '../utils/placeholders';
@use '../utils/mixins' as mx;

.reports {
  @extend %section-frame;

  grid-area: reports;

  min-width: 340px;

  background-color: var(--Background-secondary-2, #292932);
}

.reports-title {
  @extend %details;

  margin-bottom: 36px;
  color: var(--Text-body-2, #b5b5be);

  span {
    @extend %accent-text;
    color: var(--Text-body, #fafafb);
  }
}

.reports-list {
}

.reports-item {
  display: flex;
  align-items: center;
  gap: 30px;

  @media only screen and (min-width: 768px) {
    gap: 32px;
  }

  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.reports-staff {
  flex-grow: 1;
  flex-shrink: 0;
}

.staff {
  display: flex;
  align-items: center;
  gap: 16px;
}

.staff-thumb {
  @include mx.frame(32px, $is-circle: true);
}

.staff-caption {
  @extend %details;

  color: var(--Text-body-2, #b5b5be);
}

.reports-bar {
  width: calc(100% - 224px);
  height: 4px;

  &[value] {
    border-radius: 2px;
  }

  [data-status='up'] & {
    &[value] {
      background-color: rgba($color: #00ff00, $alpha: 0.3);
    }
    &::-moz-progress-bar {
      background-color: rgba($color: #00ff00, $alpha: 1);
    }

    &::-webkit-progress-bar {
      background-color: rgba($color: #00ff00, $alpha: 0.3);
      border-radius: 2px;
    }
    &::-webkit-progress-value {
      background-color: rgba($color: #00ff00, $alpha: 1);
      border-radius: 2px;
    }
  }

  [data-status='dash'] & {
    &[value] {
      background-color: rgba($color: #a461d8, $alpha: 0.3);
    }
    &::-moz-progress-bar {
      background-color: rgba($color: #a461d8, $alpha: 1);
    }

    &::-webkit-progress-bar {
      background-color: rgba($color: #a461d8, $alpha: 0.3);
      border-radius: 2px;
    }
    &::-webkit-progress-value {
      background-color: rgba($color: #a461d8, $alpha: 1);
      border-radius: 2px;
    }
  }

  [data-status='down'] & {
    &[value] {
      background-color: rgba($color: #fc5a5a, $alpha: 0.3);
    }
    &::-moz-progress-bar {
      background-color: rgba($color: #fc5a5a, $alpha: 1);
    }

    &::-webkit-progress-bar {
      background-color: rgba($color: #fc5a5a, $alpha: 0.3);
      border-radius: 2px;
    }
    &::-webkit-progress-value {
      background-color: rgba($color: #fc5a5a, $alpha: 1);
      border-radius: 2px;
    }
  }
}

.reports-status {
  flex-shrink: 0;

  width: 20px;
  height: 20px;
  padding: 4px;

  border-radius: 4px;

  use {
    opacity: 0;
    fill: var(--Text-body, #fafafb);
  }

  [data-status='up'] & {
    background-color: var(--Text-success, #82c43c);

    .up {
      opacity: 1;
    }
  }

  [data-status='dash'] & {
    background-color: var(--Text-warning, #a461d8);

    .dash {
      opacity: 1;
    }
  }

  [data-status='down'] & {
    background-color: var(--Text-danger, #fc5a5a);

    .down {
      opacity: 1;
    }
  }
}
