@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.search-field {
  @include mx.ease('fast', width, color);

  display: inline-flex;
  align-items: center;

  color: fn.get-color('light-tertiary');
  overflow: hidden;

  &:focus-within {
    color: fn.get-color('light-primary');
  }

  @include mx.mq('lg', 'max') {
    width: 30px;

    &:focus-within {
      width: 200px;
    }
  }

  @include mx.mq('lg') {
    margin-right: auto;
  }
}
.search-icon {
  flex-shrink: 0;
  fill: fn.get-color('current');

  margin-right: 12px;
}
.search-input {
  @extend %details;

  min-width: 165px;
  min-height: 20px;

  @include mx.mq('lg', 'max') {
    @include mx.ease('fast', opacity);
    opacity: 0;

    &:focus {
      opacity: 1;
      transition-delay: 400ms;
    }
  }
}
