.search-field {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  color: var(--Text-default, #92929d);

  &:focus-within {
    color: var(--Text-body, #fafafb);
  }
}

.search-icon {
  fill: currentColor;
}

.search-input {
  min-width: 150px;
  min-height: 20px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}
