.logo {
  position: relative;

  display: inline-flex;
  gap: 8px;
  padding: 0 2px;

  width: 100%;
  padding: 16px 0;

  &::after {
    content: "";
    position: absolute;
    left: -16px;
    bottom: 0;

    width: calc(100% + 32px);
    height: 1px;

    background-color: var(--Background-secondary-2, #292932);
  }
}

.menu-nav {
  padding: 30px 0;
}
.menu-item {
  &:not(:last-child) {
    margin-bottom: 44px;
  }
}
.menu-link {
  position: relative;

  display: flex;
  align-items: center;
  gap: 24px;

  color: var(--Text-body-2, #b5b5be);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;

  &.current {
    color: var(--Text-body, #fafafb);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -16px;
      transform: translateY(-50%);

      display: block;
      width: 4px;
      height: calc(100% + 12px);

      border-radius: 0px 100px 100px 0px;
      background: var(--Text-body, #fafafb);
    }
  }

  @media not (hover: hover) {
    &:active {
      color: var(--Text-body, #fafafb);
    }
  }
  @media (hover: hover) {
    &:hover,
    &:focus {
      color: var(--Text-body, #fafafb);
    }
  }
}
.menu-icon {
  fill: currentColor;
}

.menu-notification {
  margin-left: auto;
}

.notification {
  display: block;
  min-width: 28px;
  height: 20px;
  padding: 0 10px;

  flex-shrink: 0;
  color: var(--Text-body, #fafafb);

  border-radius: 12px;
  background-color: var(--Text-danger, #fc5a5a);
}
