@use '../utils/placeholders';
@use '../utils/mixins' as mx;
@use '../utils/functions' as fn;

.tasks {
  @extend %section-frame;
  grid-area: tasks;

  min-width: 340px;
  max-height: 420px;

  background-color: var(--Background-secondary-2, #292932);
}

.tasks-title {
  @extend %details;

  margin-bottom: 36px;
  color: var(--Text-body-2, #b5b5be);

  span {
    @extend %accent-text;
    color: var(--Text-body, #fafafb);
  }
}

.tasks-list {
  @include mx.scroll-bar;

  max-height: 288px;
  overflow: auto;

  @include mx.mq('lg') {
    margin-right: -14px;
  }
}

.tasks-item {
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 16px 8px;
  border-top: 1px solid var(--Text-default, #92929d);
}

.tasks-checkbox {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  cursor: pointer;
}

.tasks-checkbox-icon {
  fill: transparent;
  border-radius: 4px;
  border: 1px solid var(--Text-default, #92929d);
  transition: 300ms ease;

  .tasks-input:checked + & {
    fill: var(--Text-body, #fafafb);
    background-color: var(--Text-primary, #f07f2e);
    border-color: transparent;
  }

  .tasks-input:focus-visible + & {
    outline: 2px solid var(--Text-default, #92929d);
    outline-offset: 2px;
  }
}

.tasks-info {
  flex-grow: 1;
}

.tasks-heading {
  @extend %details;

  color: var(--Text-body, #fafafb);
}

.tasks-desc {
  @extend %details;

  color: var(--Text-body-2, #b5b5be);
}

.tasks-btn {
  width: 20px;
  height: 20px;
  color: var(--Text-default, #92929d);
  border-radius: 50%;

  &:focus-visible {
    outline: 2px solid var(--Text-default, rgba(146, 146, 157, 0.6));
    outline-offset: 3px;
  }

  &-icon {
    fill: fn.get-color('current');
  }
}
