@use "../utils/placeholders";
@use "../utils/mixins" as mx;
@use "../utils/functions" as fn;

.welcome-btn {
  display: inline-flex;
  padding: 8px 12px;
  align-items: center;
  gap: 4px;

  color: fn.get-color("light-primary");
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;

  border-radius: 12px;
  background-color: fn.get-color("accent-primary");

  &-icon {
    fill: currentColor;
  }
}
