@use '../utils/placeholders';

.welcome {
  grid-area: welcome;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  row-gap: 16px;
}

.page-title {
}

.page-title-accent {
  @extend %main-title;

  display: block;
  margin-bottom: 8px;

  @media only screen and (min-width: 1440px) {
    margin-bottom: 16px;
  }
}
