@use '../utils/variables' as var;
@use '../utils/placeholders';
@use '../utils/mixins' as mx;

.welcome {
  grid-area: welcome;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  row-gap: 16px;
}

.welcome-title {
  &-accent {
    @extend %main-title;

    display: block;
    margin-bottom: 8px;

    @include mx.mq('xl') {
      margin-bottom: 16px;
    }
  }
}
