@use '../../utils/placeholders';
@use '../../utils/variables' as var;
@use '../../utils/functions' as fn;
@use '../../utils/mixins' as mx;

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.board-item {
  @extend %section-frame;

  flex-grow: 1;

  display: flex;
  justify-content: space-between;
  gap: 43px;

  background-color: fn.get-color('dark-tertiary');

  @include mx.mq('xl') {
    background-color: fn.get-color('dark-secondary');
  }

  &.hide {
    display: none;
  }
}
.board-left {
}
.board-caption {
  @extend %accent-text;

  margin-bottom: 8px;
  color: fn.get-color('light-primary');
}
.board-details {
  @extend %details;

  margin-bottom: 20px;
  color: fn.get-color('light-secondary');
}
.board-coworker {
}
.person {
  display: flex;
  align-items: center;
  gap: 8px;
}
.person-thumb {
  @include mx.frame(24px, $is-circle: true);
}
.person-avatar {
}
.person-caption {
  @extend %details;
}
.board-right {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.board-tag {
  @extend %details;

  margin-bottom: auto;
  text-align: right;
  color: fn.get-color('light-secondary');
}
