@use "../../utils/placeholders";
@use "../../utils/mixins" as mx;
@use "../../utils/functions" as fn;

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.board-item {
  @extend %section-frame;

  flex-grow: 1;

  display: flex;
  justify-content: space-between;
  gap: 43px;

  background-color: fn.get-color("dark-tertiary");

  @include mx.mq("xl") {
    background-color: fn.get-color("dark-secondary");
  }

  &.hide {
    display: none;
  }
}

.board-caption {
  @extend %accent-text;

  margin-bottom: 8px;
  color: fn.get-color("light-primary");
}

.board-details {
  @extend %details;

  margin-bottom: 20px;
  color: fn.get-color("light-primary");

  time {
    color: fn.get-color("light-secondary");
  }
}

.board-right {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.board-tag {
  @extend %details;

  margin-bottom: auto;
  text-align: right;
  color: fn.get-color("light-secondary");
}
