@use "../../utils/placeholders";
@use "../../utils/mixins" as mx;
@use "../../utils/functions" as fn;

.co-workers-details {
  @extend %details;

  padding: 16px 0;

  @include mx.mq("md") {
    display: none;
  }
}

.co-workers-data {
  @include mx.ease("slow", margin);

  display: flex;
  align-items: center;
  gap: 12px;

  .co-workers-details[open] & {
    margin-bottom: 16px;
  }
}

.co-workers-icon {
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  border-radius: 4px;
  border: 1px solid fn.get-color("light-tertiary");
  cursor: pointer;

  .plus {
    @include mx.ease("fast", opacity);
    transition-delay: 150ms;

    opacity: 0;
    fill: fn.get-color("light-tertiary");

    .co-workers-details:not([open]) & {
      opacity: 1;
    }
  }

  .minus {
    @include mx.ease("fast", opacity);

    opacity: 0;
    fill: fn.get-color("light-tertiary");

    .co-workers-details[open] & {
      opacity: 1;
      transition-delay: 150ms;
    }
  }
}

.co-workers-bio {
  flex-grow: 1;

  display: flex;
  align-items: center;
  gap: 8px;

  .thumb {
    @include mx.frame(24px, $is-circle: true);
  }
}

.co-workers-controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.controls-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  &-icon {
    &.success {
      fill: fn.get-color("success");
    }

    &.error {
      fill: fn.get-color("danger");
    }
  }
}

.co-workers-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 12px;

  width: fit-content;
  padding: 0 32px;
}

.co-workers-position {
  color: fn.get-color("light-primary");
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
}

.co-workers-accept {
  color: fn.get-color("light-primary");
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
}
