@use '../../utils/placeholders';
@use '../../utils/mixins' as mx;
@use '../../utils/functions' as fn;

.co-workers-table {
  width: 100%;

  @include mx.mq('md', 'max') {
    display: none;
  }

  caption {
    @extend %details;

    margin-bottom: 36px;
    color: var(--Text-body-2, #b5b5be);

    span {
      @extend %accent-text;
    }
  }

  thead {
    position: sticky;
    top: -1px;
    z-index: 100;
    background: var(--Background-secondary-1, #1c1c24);

    th {
      @extend %details-accent;

      position: relative;

      padding: 12px 20px;
      border-bottom-width: 1px;

      color: var(--Text-body, #fafafb);

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 1px;

        background-color: var(--Background-secondary-2, #292932);
      }

      &:first-child {
        text-align: center;
      }
    }
  }

  tbody {
    @extend %details;

    color: var(--Text-body-2, #b5b5be);

    td {
      position: relative;

      padding: 16px 20px;
      vertical-align: middle;
      border-bottom-width: 1px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 1px;

        background-color: var(--Background-secondary-2, #292932);
      }
    }
  }

  .thumb {
    @include mx.frame(24px, $is-circle: true);
    margin: 0 auto;
  }
}
