@use '../../utils/placeholders';
@use '../../utils/variables' as var;
@use '../../utils/functions' as fn;
@use '../../utils/mixins' as mx;

.co-workers-table {
  width: 100%;

  @include mx.mq('md', 'max') {
    display: none;
  }

  caption {
    @extend %details;

    margin-bottom: 36px;
    color: fn.get-color('light-secondary');

    span {
      @extend %accent-text;
    }
  }

  thead {
    position: sticky;
    top: -1px;
    z-index: 100;
    background-color: fn.get-color('dark-tertiary');

    @include mx.mq('xl') {
      background-color: fn.get-color('dark-secondary');
    }

    th {
      @extend %details-accent;

      position: relative;
      padding: 12px 20px;
      border-bottom-width: 1px;

      color: fn.get-color('light-primary');

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 1px;

        background-color: fn.get-color('light-tertiary');

        @include mx.mq('xl') {
          background-color: fn.get-color('dark-tertiary');
        }
      }

      &:first-child {
        text-align: center;
      }
    }
  }

  tbody {
    @extend %details;

    color: fn.get-color('light-secondary');

    td {
      position: relative;

      padding: 16px 20px;
      vertical-align: middle;
      border-bottom-width: 1px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 1px;

        background-color: fn.get-color('light-tertiary');

        @include mx.mq('xl') {
          background-color: fn.get-color('dark-tertiary');
        }
      }
    }
  }

  .thumb {
    @include mx.frame(24px, $is-circle: true);
    margin: 0 auto;
  }
}
