@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;

body {
  @extend %main-text;

  font-family: var.$main-font, sans-serif;
  color: fn.get-color('light-secondary');
  background-color: fn.get-color('dark-primary');
}

button {
  color: fn.get-color('current');
  cursor: pointer !important;
}

summary {
  list-style-type: none;
}
