@use '../utils/placeholders';
@use '../utils/variables' as var;

body {
  @extend %main-text;

  font-family: var.$main-font, sans-serif;
  background-color: #13131a;
}

button {
  color: currentColor;
  cursor: pointer !important;
}

summary {
  list-style-type: none;
}
