@use "sass:list";

// List examples
$list: 8, 10, 12, 14, 16;

$list: 1px solid red;

// list.nth() function
$numbers: 10px, 12px, 16px;
@debug list.nth($numbers, 2); // 12px

// list.length() function
$colors: lightgreen, tomato, lightblue;
@debug list.length($colors); // 3

// use list with @each
$sizes: 40px, 50px, 80px;

@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}

// use list with @for
$button-types: ".btn-sm", ".btn-md", ".btn-lg", ".btn-xl";

@mixin btn-size($types) {
  @for $i from 1 through list.length($types) {
    #{list.nth($types, $i)} {
      $factor: ($i * 5 - 5);

      padding: (5px + $factor) (10px + $factor);
      border-radius: (10px + $factor);
    }
  }
}

@include btn-size($button-types);
