@if index($btn-types, secondary) {
  /* == Secondary == */
  .btn--secondary {
    &:active {
      color: #d14a00;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        color: #f15c27;
      }
    }

    &[disabled] {
      color: #b5b5be;
    }
  }
}
