@use "../utils/placeholders";
@use "../utils/mixins" as mx;
@use "../utils/functions" as fn;

.header {
  grid-area: header;

  display: flex;
  align-items: center;
  padding: 16px;

  background-color: fn.get-color("dark-secondary");
  box-shadow: inset 0px 1px 0px 0px fn.get-color("dark-tertiary");

  @include mx.mq("lg") {
    padding: 24px 36px;
    justify-content: space-between;
  }
}
