.main-content {
  display: grid;
  gap: 40px;
  padding: 16px;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 36px;
  }

  @media only screen and (min-width: 1440px) {
    grid-template-columns: 629px 455px;

    padding: 36px;
  }
}
