.main {
  display: grid;
  gap: 40px;
  padding: 16px;
  grid-template-areas:
    'welcome'
    'co-workers'
    'tasks'
    'reports';

  @media only screen and (min-width: 768px) {
    gap: 36px;
    padding: 36px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'welcome welcome'
      'co-workers co-workers'
      'tasks reports';
  }

  @media only screen and (min-width: 1024px) {
    // Position in page layuot
    grid-area: main;

    // Inside grid system
    grid-template-columns: repeat(auto-fit, minmax(455px, 629px));
    grid-template-areas:
      'welcome welcome'
      'co-workers tasks'
      'co-workers reports';
  }
}
