.page {
  min-width: 375px;

  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 248px 1fr;
    grid-template-rows: 68px 1fr;
    grid-template-areas:
      'sidebar header'
      'sidebar main';
  }
}
