.menu {
  position: relative;

  @media only screen and (max-width: 1199.98px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: var(--Background-primary, rgba(19, 19, 26, 0.5));
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: 250ms ease-out;

    &.is-open {
      opacity: 1;
      pointer-events: initial;
      visibility: visible;
    }
  }

  @media screen and (min-width: 1200px) {
    grid-area: sidebar;

    padding: 0 20px;
  }
}
