// $color-primary-text: #888; // kebeb case
// $color-blue-text: lightblue; // kebeb case

// $colorPrimaryText: #888; // camel case
// $colorBlueText: lightblue; // camel case

// $color_primary_text: #888; // snake case
// $color_blue_text: lightblue; // snake case

$font-size: 16px;

.title {
  font-size: $font-size;
}

$font-size: 10px;

.subtitle {
  font-size: $font-size;
}
