@use "sass:math";

// @if statement
@mixin avatar($size, $circle: false) {
  width: $size;
  height: $size;

  @if $circle {
    border-radius: 50%;
  }
}

.square-avatar {
  @include avatar(100px);
}
.circle-avatar {
  @include avatar(100px, $circle: true);
}

// Conditional statements
@mixin fonts($fs, $fw: null, $lh: null, $ls: null, $align: null) {
  font-size: $fs;

  @if $fw {
    font-weight: $fw;
  }

  @if $lh {
    @if $lh == normal {
      line-height: normal;
    } @else if math.unit($lh) == "px" {
      line-height: calc($lh / $fs);
    } @else {
      @error "$lh value #{$lh} is incorrect";
    }
  }

  @if $ls {
    @if $ls == normal {
      letter-spacing: normal;
    } @else {
      letter-spacing: #{calc($ls/$fs)}em;
    }
  }

  @if $align {
    text-align: $align;
  }
}

.title {
  // With keyword args
  @include fonts(20px, $fw: 600, $lh: 28px, $ls: 0.5px, $align: center);
}
